<!DOCTYPE html>
<html th:lang="${lang}" th:with="lang=${#locale.language}"
      xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<link href="../css/userpanel.css" rel="stylesheet" th:href="@{/css/userpanel.css}">
<head>
    <title th:text="#{string.admin.panel}"></title>
</head>
<body>
<div class="container">
    <h3 th:inline="text">[[#{string.admin.admin}]] [[${#httpServletRequest.remoteUser}]]</h3>

    <div>
        <span class="header" th:text="#{string.user.restaurant.menu}"></span>
    </div>
    <table class="table">
        <tr>
            <th th:text="#{string.user.menu.dish}"></th>
            <th th:text="#{string.user.menu.weight}"></th>
            <th th:text="#{string.user.menu.price}"></th>
            <th th:text="#{string.admin.menu.available}"></th>
        </tr>
        <tr th:each="item : ${menuDTO.menu}">
            <td>
                <div th:if="${lang!= 'ua'}" th:text="${item.name}"></div>
                <div th:if="${lang == 'ua'}" th:text="${item.nameUA}"></div>
            </td>
            <td th:text="${item.weight}"></td>
            <td th:text="${item.price}"></td>
            <td th:text="${item.storageQuantity}"></td>

        </tr>
    </table>
    <table>
        <tr>
            <td>
                <form method="get" th:action="@{/admin/confirmation}">
                    <input class="button" th:value="#{string.admin.button.waiting}" type="submit">
                </form>
            </td>
            <td>
                <form class="navigation" method="get" th:action="@{/admin/confirmed}">
                    <input class="button" th:value="#{string.admin.button.confirmed}" type="submit">
                </form>
            </td>
            <td>
                <form method="get" th:action="@{/admin/stats}">
                    <input class="button" th:value="#{string.admin.button.stats}" type="submit">
                </form>
            </td>
            <td>
                <form method="post" th:action="@{/logout}">
                    <input class="button" th:value="#{string.common.logout}" type="submit"/>
                </form>
            </td>

        </tr>
    </table>

    <span class="locale">
    <a href="?lang=en">EN</a>
    |
    <a href="?lang=ua">UA</a>
</span>
</div>
</body>
</html>