<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      th:with="lang=${#locale.language}" th:lang="${lang}">
<link href="../css/userpanel.css" th:href="@{/css/userpanel.css}" rel="stylesheet">
<head>
    <title th:text="#{string.admin.panel}"></title>
</head>
<body>
<div class="container">
    <h3 th:inline="text">[[#{string.admin.admin}]] [[${#httpServletRequest.remoteUser}]]</h3>
    <div>
        <table>
            <tr>
                <td>
                    <form th:action="@{/admin}" method="get">
                        <input class="button" type="submit" th:value="#{string.admin.confirmation.button.main}">
                    </form>
                </td>
                <td>
                    <form th:action="@{/admin/confirmed}" method="get" class="navigation">
                        <input class="button" type="submit" th:value="#{string.admin.button.confirmed}">
                    </form>
                </td>
                <td>
                    <form th:action="@{/logout}" method="post">
                        <input class="button" type="submit" th:value="#{string.common.logout}"/>
                    </form>
                </td>

            </tr>
        </table>
        <div>
            <span class="header" th:if="${page.isEmpty()}" th:text="#{string.admin.no.new.orders}"></span>

            <div class="tableContainer" th:if="${!page.isEmpty()}">
                <div>
                    <span class="header" th:text="#{string.admin.orders.waiting}"></span>
                </div>
                <span class="error" th:if="${#httpServletRequest.getParameter('notenough') != null}"
                      th:text="#{string.admin.error.quantity}"></span>
                <span class="error" th:if="${#httpServletRequest.getParameter('error') != null}"
                      th:text="#{string.item.not.found}"></span>
                <table class="table">
                    <tr>
                        <td th:text="#{string.admin.orders.username}"></td>
                        <td th:text="#{string.admin.orders.name}"></td>
                        <td th:text="#{string.admin.orders.dish}"></td>
                        <td th:text="#{string.admin.orders.quantity}"></td>
                        <td th:text="#{string.admin.orders.action}"></td>
                    </tr>
                    <tr th:each="ordered : ${page}">
                        <td th:text="${ordered.user.username}"></td>
                        <td th:text="${ordered.user.name}"></td>
                        <td>
                            <div th:if="${lang!= 'ua'}" th:text="${ordered.menuItem.name}"></div>
                            <div th:if="${lang == 'ua'}" th:text="${ordered.menuItem.nameUA}"></div>
                        </td>
                        <td th:text="${ordered.quantity}"></td>
                        <td>
                            <form th:action="@{/admin/confirmation/confirmorder}" method="post" style="float: left">
                                <input type="hidden" name="id" th:value="${ordered.id}">
                                <input type="hidden" name="quantity" th:value="${ordered.quantity}">
                                <input type="submit" class="button"
                                       th:value="#{string.admin.orders.action.confirm}">
                            </form>
                            <form th:action="@{/admin/confirmation/rejectorder}" method="post" style="float: left">
                                <input type="hidden" name="id" th:value="${ordered.id}">
                                <input type="submit" class="button"
                                       th:value="#{string.admin.orders.action.reject}">
                            </form>
                        </td>
                    </tr>
                </table>
                <nav th:if="${page.totalPages > 1}">
                    <th:block th:each="i: ${#numbers.sequence(0, page.totalPages - 1)}">
                        <div th:if="${page.number == i}" class="page-item"><span
                                class="page-link">[[${i}+1]] </span></div>
                        <div th:unless="${page.number == i}" class="page-item">
                            <a th:href="@{/admin/confirmation(page=${i})}" class="page-link">[[${i}+1]]</a>
                        </div>
                    </th:block>
                </nav>

            </div>
        </div>

<span class="locale">
    <a href="?lang=en">EN</a>
    |
    <a href="?lang=ua">UA</a>
</span>
    </div>
</div>
</body>
</html>