<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<link href="../css/userpanel.css" rel="stylesheet" th:href="@{/css/userpanel.css}">

<head>
    <title th:text="#{string.admin.panel}"></title>
</head>
<body>
<div class="container">
    <h3 th:inline="text">[[#{string.admin.admin}]] [[#{string.admin.panel.stats}]]</h3>

    <table>
        <tr>
            <td>
                <form class="navigation" method="get" th:action="@{/admin}">
                    <input class="button" th:value="#{string.admin.stats.user.button.main}" type="submit">
                </form>
            </td>
            <td>
                <form method="get" th:action="@{/admin/stats}">
                    <input class="button" th:value="#{string.admin.stats.user.button.back}" type="submit">
                </form>
            </td>
            <td>
                <form method="post" th:action="@{/logout}">
                    <input class="button" th:value="#{string.common.logout}" type="submit"/>
                </form>
            </td>
        </tr>
    </table>
    <div>
        <span class="header"
              th:inline="text"> [[#{string.admin.stats.user.username}]]: [[${userInfoDTO.username}]]</span>
    </div>
    <div>
        <span class="header" th:inline="text"> [[#{string.admin.stats.user.name}]]: [[${userInfoDTO.name}]]</span>
    </div>
    <div>
        <span class="header" th:inline="text"> [[#{string.admin.stats.user.surname}]]: [[${userInfoDTO.surname}]]</span>
    </div>
    <div>
        <span class="header"
              th:inline="text"> [[#{string.admin.stats.user.username}]]: [[${userInfoDTO.username}]]</span>
    </div>
    <div>
        <span class="header" th:inline="text"> [[#{string.admin.stats.user.total.orders}]]: [[${userInfoDTO.ordersTotalNumber}]]</span>
    </div>
    <div>
        <span class="header"
              th:inline="text"> [[#{string.admin.stats.registration.date}]]: [[${userInfoDTO.registrationDate}]]</span>
    </div>
    <table class="table" th:if="${!page.isEmpty()}">
        <tr>
            <th th:text="#{string.admin.stats.user.order.date}"></th>
            <th th:text="#{string.admin.stats.user.order.time}"></th>
            <th th:text="#{string.admin.stats.user.order.item}"></th>
            <th th:text="#{string.admin.stats.user.order.quantity}"></th>
            <th th:text="#{string.admin.stats.user.order.total.price}"></th>
            <th th:text="#{string.admin.stats.user.order.paymaent.date}"></th>
        </tr>
        <tr th:each="bill : ${page}">
            <td th:text="${bill.order.date}"></td>
            <td th:text="${bill.order.time}"></td>
            <td th:if="${#httpServletRequest.getParameter('lang') == 'en'} or ${#httpServletRequest.getParameter('lang') ==
            null}"
                th:text="${bill.order.menuItem.name}"></td>
            <td th:if="${#httpServletRequest.getParameter('lang') == 'ua'}"
                th:text="${bill.order.menuItem.nameUA}"></td>
            <td th:text="${bill.order.quantity}"></td>
            <td th:text="${bill.order.totalPrice}"></td>
            <td th:text="${bill.paymentDateTime}"></td>
        </tr>
    </table>
    <nav th:if="${page.totalPages > 1}">
        <th:block th:each="i: ${#numbers.sequence(0, page.totalPages - 1)}">
            <div class="page-item" th:if="${page.number == i}"><span
                    class="page-link">[[${i}+1]] </span></div>
            <div class="page-item" th:unless="${page.number == i}">
                <a class="page-link" th:href="@{/admin/stats/client(id=${param.id}, page=${i})}">[[${i}+1]]</a>
            </div>
        </th:block>
    </nav>

    <span class="locale">
      <a th:href="@{''(id=${param.id}, page=${page.number}, lang='en')}">EN</a>
      |
      <a th:href="@{''(id=${param.id}, page=${page.number}, lang='ua')}">UA</a>
      </span>

</div>

</body>
</html>