<!DOCTYPE html>
<html th:lang="${lang}" th:with="lang=${#locale.language}"
      xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<link href="../css/userpanel.css" rel="stylesheet" th:href="@{/css/userpanel.css}">
<head>
    <title th:text="#{string.user.panel}"></title>
</head>
<body>
<div class="container">
    <h3 th:inline="text">[[#{string.user.hello}]] [[${#httpServletRequest.remoteUser}]]!</h3>
    <span class="header" th:text="#{string.user.restaurant.menu}"></span>

    <span class="error" th:if="${#httpServletRequest.getParameter('quantity') == 'notenough'}"
          th:text="#{string.admin.error.quantity}"></span>

    <span class="error" th:if="${#httpServletRequest.getParameter('item') == 'notfound'}"
          th:text="#{string.item.not.found}"></span>

    <table class="table">
        <tr>
            <th th:text="#{string.user.menu.dish}"></th>
            <th th:text="#{string.user.menu.weight}"></th>
            <th th:text="#{string.user.menu.price}"></th>
        </tr>
        <tr th:each="item : ${menuDTO.menu}" th:object="${item}">
            <td>
                <div th:if="${lang!= 'ua'}" th:text="${item.name}"></div>
                <div th:if="${lang == 'ua'}" th:text="${item.nameUA}"></div>
            </td>
            <td th:text="${item.weight}"></td>
            <td th:text="${item.price}"></td>
            <td>
                <form class="orderForm" method="post" th:action="@{/user/order}" th:object="${orderDTO}">
                    <input name="menuItemId" th:value="${item.id}" type="hidden">
                    <input class="quantity" max="20" min="0" required th:field="*{quantity}" type="number">
                    <input class="button" th:value="#{string.user.menu.order}" type="submit">
                </form>
            </td>
        </tr>
    </table>
    <table>
        <tr>
            <td>
                <form method="get" th:action="@{/user/bills}">
                    <input class="button" th:value="#{string.user.get.bills}" type="submit">
                </form>
            </td>
            <td>
                <form class="navigation" method="get" th:action="@{/user/orders}">
                    <input class="button" th:value="#{string.user.get.orders}" type="submit">
                </form>
            </td>
        </tr>
    </table>

    <div th:if="${todayOrders.orders.size()} != 0">
        <span class="header" th:text="#{string.user.your.todays.orders}"></span>
        <table class="table">
            <tr>
                <th th:text="#{string.user.ordered.dish}"></th>
                <th th:text="#{string.user.ordered.quantity}"></th>
                <th th:text="#{string.user.ordered.time}"></th>
                <th th:text="#{string.user.ordered.total-price}"></th>
                <th th:text="#{string.user.ordered.statement}"></th>
            </tr>
            <tr th:each="order : ${todayOrders.orders}">
                <td>
                    <div th:if="${lang!= 'ua'}" th:text="${order.menuItem.name}"></div>
                    <div th:if="${lang == 'ua'}" th:text="${order.menuItem.nameUA}"></div>
                </td>
                <td th:text="${order.quantity}"></td>
                <td th:text="${order.time}"></td>
                <td th:text="${order.totalPrice}"></td>
                <td>
                    <div th:if="${lang!= 'ua'}" th:text="${order.orderStatement.getMessage()}"></div>
                    <div th:if="${lang == 'ua'}" th:text="${order.orderStatement.getMessageUA()}"></div>
                </td>
            </tr>

        </table>
    </div>
    <div>
        <span class="header" th:if="${todayOrders.orders.size()} == 0"
              th:text="#{string.user.have.no.orders.today}"></span>
    </div>

    <form method="post" th:action="@{/logout}">
        <input class="button" th:value="#{string.common.logout}" type="submit"/>
    </form>
    <span class="locale">
    <a href="?lang=en">EN</a>
    |
    <a href="?lang=ua">UA</a>
</span>
</div>
</body>
</html>