<!DOCTYPE html>
<html th:lang="${lang}" th:with="lang=${#locale.language}"
      xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<link href="../css/userpanel.css" rel="stylesheet" th:href="@{/css/userpanel.css}">
<head>
    <title th:text="#{string.user.your.bills}"></title>
</head>
<body>
<div class="container">

    <span class="header" th:text="#{string.user.your.bills}"></span>

    <table>
        <tr>
            <td>
                <form method="get" th:action="@{/user/orders}">
                    <input class="button" th:value="#{string.user.get.orders}" type="submit">
                </form>
            </td>
            <td>
                <form class="navigation" method="get" th:action="@{/user}">
                    <input class="button" th:value="#{string.user.back.menu}" type="submit">
                </form>
            </td>
        </tr>
    </table>
    <span class="error" th:if="${#httpServletRequest.getParameter('idnotfound') != null}"
          th:text="#{string.id.not.found}"></span>

    <div th:if="${!page.isEmpty()}">
    <span class="error" th:if="${#httpServletRequest.getParameter('fnds') == 'error'}"
          th:text="#{string.user.bills.not.enough.founds}"></span>

        <span class="header" th:inline="text"> [[#{string.user.bills.your.founds}]]: [[${funds}]]</span>

        <table class="table">
            <tr>
                <th th:text="#{string.user.ordered.dish}"></th>
                <th th:text="#{string.user.ordered.quantity}"></th>
                <th th:text="#{string.user.bills.invoice.date}"></th>
                <th th:text="#{string.user.bills.payment.date}"></th>
                <th th:text="#{string.user.ordered.total-price}"></th>
                <th th:text="#{string.user.bills.pay}"></th>
            </tr>
            <tr th:each="bill : ${page}">
                <td>
                    <div th:if="${lang!= 'ua'}" th:text=" ${bill.order.menuItem.name}"></div>
                    <div th:if="${lang == 'ua'}" th:text="${bill.order.menuItem.nameUA}"></div>
                </td>
                <td th:text="${bill.order.quantity}"></td>
                <td th:text="${bill.invoiceDateTime}"></td>
                <td th:if="${bill.paymentDateTime} != null" th:text="${bill.paymentDateTime}"></td>
                <td th:if="${bill.paymentDateTime} == null"></td>
                <td th:text="${bill.order.totalPrice}"></td>

                <td>
                    <form method="post" th:action="@{/user/bills/pay}" th:if="${bill.paymentDateTime} == null">
                        <input name="id" th:value="${bill.id}" type="hidden">
                        <input class="button" th:value="#{string.user.bills.pay}" type="submit">
                    </form>
                </td>
            </tr>
        </table>

        <nav th:if="${page.totalPages > 1}">
            <th:block th:each="i: ${#numbers.sequence(0, page.totalPages - 1)}">
                <div class="page-item" th:if="${page.number == i}"><span
                        class="page-link">[[${i}+1]] </span></div>
                <div class="page-item" th:unless="${page.number == i}">
                    <a class="page-link" th:href="@{/user/bills(page=${i})}">[[${i}+1]]</a>
                </div>
            </th:block>
        </nav>
    </div>
    <div th:if="${page.isEmpty()}">
        <span class="header" th:text="#{string.user.have.no.bills}"> </span>
    </div>
    <form class="navigation" method="post" th:action="@{/logout}">
        <input class="button" th:value="#{string.common.logout}" type="submit"/>
    </form>

    <span class="locale">
    <a href="?lang=en">EN</a>
    |
    <a href="?lang=ua">UA</a>
</span>
</div>
</body>
</html>